@import "tailwindcss";

@theme{
  --color-pinkCustom: #f55a5a;
  --color-linkColor: #2B283A;
  --height-heightHeaderCustom: 120px;
  --width-imageW: 125px;
  --height-imageH: 168px;
  --height-imageFull: 100%;
  --width-imageWFull: 100%;
  --radius-xlc: 5px;
  --margin-onInfo : 7px;
  --size-sml: 0.7rem;
  --size-sml2: 0.8rem;
  --display-mineDisp: -webkit-box;
  --margin-1mk: 2px;
  
}